/* Подключаем локальный шрифт */
@font-face {
    font-family: 'FuturaBook';
    src: url('fonts/futurabookctt-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 100px; /* равен высоте header иначе может «уехать» вверх под header, потому что header теперь не участвует в обычном потоке документа */
    margin: 0;
    background-color: #ffffff; /* белый фон */
    font-family: 'FuturaBook', sans-serif;
}

header {
    position: fixed;   /* фиксируем шапку */
    top: 0;            /* привязка к верхней части экрана */
    left: 0;           /* привязка к левому краю */
    width: 100%;
    height: 100px;
    background-color: #000000; /* черный */
    display: flex;
    align-items: center;
    padding-left: 100px; /* немного отступа слева */
    box-sizing: border-box;
    z-index: 1000;     /* чтобы header был поверх остального контента */
}


.logo {
    color: #ffffff; /* текст белый */
    font-size: 19px; /* достаточно крупно */
    letter-spacing: 0.15em; /* создаёт «воздух» между буквами */
    text-transform: uppercase; /* все буквы большие */
}

/* Слайдшоу */
.slideshow {
    width: 100%;
    height: 720px;
    margin-top: 20px;
    position: relative;
    overflow: hidden; /* Важный момент! */
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: zoom 20s ease-in-out infinite;
    transition: background-image 1s ease-in-out; /* добавлено для плавной смены */
}

@keyframes zoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.projects {
    padding: 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 20px; /* расстояние между кубиками */
}

.project {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project img {
    width: 100%;
    display: block;
    height: auto;
}

/* Эффект при наведении */
.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'FuturaBook', sans-serif;
}